<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AccessDenied</filter-name>
        <filter-class>Khiemnvd.filter.AccessDenied</filter-class>
    </filter>
    <filter>
        <filter-name>AccessControl</filter-name>
        <filter-class>Khiemnvd.filter.AccessControl</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessControl</filter-name>
        <url-pattern>/createcourse</url-pattern>
        <url-pattern>/updatecourse</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccessDenied</filter-name>
        <url-pattern>/Admin.jsp</url-pattern>
        <url-pattern>/Admin</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Khiemnvd.controller.user.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>Khiemnvd.controller.user.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Khiemnvd.controller.user.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Khiemnvd.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSearchController</servlet-name>
        <servlet-class>Khiemnvd.controller.ShowSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>Khiemnvd.controller.user.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Khiemnvd.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveController</servlet-name>
        <servlet-class>Khiemnvd.controller.RemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NullController</servlet-name>
        <servlet-class>Khiemnvd.controller.NullController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Khiemnvd.controller.user.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Khiemnvd.controller.user.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>Khiemnvd.controller.courses.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course</servlet-name>
        <servlet-class>controller.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourseServlet</servlet-name>
        <servlet-class>Khiemnvd.controller.courses.CreateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourse</servlet-name>
        <servlet-class>Khiemnvd.controller.courses.UpdateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Khiemnvd.controller.Cart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSearchController</servlet-name>
        <url-pattern>/ShowSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveController</servlet-name>
        <url-pattern>/RemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NullController</servlet-name>
        <url-pattern>/NullController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/CourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourseServlet</servlet-name>
        <url-pattern>/createcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourse</servlet-name>
        <url-pattern>/updatecourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
